<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><center>Register</center></title>
</head>
<body>
    <center>
    <h2>Register</h2>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

     <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </div>
        <div>
        <br>{{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
      

        <br><label for="role">Role:</label>
        <select id="role" name="role">
            <option value="user">User</option>
            <option value="manager">Manager</option>
            <option value="admin">Admin</option>
        </select><br>
        
       <br> <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </center>
</body>
</html>